body {
    cursor: default;
    min-width: 320px;
}

.table {
    width: auto;
}

th {
    white-space: nowrap;
}

.schedule tbody tr:first-child {
    display: none;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
}
